// output:index.html, pretty:false
{% load static %}

doctype html
html(lang='en')
  head
    {% include 'search/meta.html'%}
    include ../../search/includes/main/bootstrap.html
    include ../../search/includes/main/css.html
  
  body
    {% include 'search/nav.html' with q=query %}
    {% include 'search/modals.html' %}        
    #main(style='margin-top:78px')
      .container(style='height:90vh')
        .row(style='height: inherit;')
          .col-md-12.col-xs-12.text-xs-center
            .well
              h1.display-4 Settings
              hr
              .row
                .col-md-12
                  .form-group.row
                    label.col-xs-4.col-form-label(for='changeFirstname') Change first name
                    .col-xs-6
                      input#changeFirstname.form-control(type='text', placeholder='{{user.first_name}}')
                    .col-xs-2 
                      .btn.btn-success(type=submit, onclick='changeFirstname()') Change
                .col-md-12
                  .form-group.row
                    label.col-xs-4.col-form-label(for='changeEmail') Change Email
                    .col-xs-6
                      input#changeEmail.form-control(type='email', placeholder='{{user.email}}')
                    .col-xs-2 
                      .btn.btn-success(type=submit, onclick='changeFirstname()') Change
                .col-md-12
                  .form-group.row
                    label.col-xs-4.col-form-label(for='changeEmail') Change Password
                    .col-xs-6
                      input#changeEmail.form-control(type='email', placeholder='New Secret Password')
                    .col-xs-4
                    .col-xs-6
                      input#changeEmail.form-control(type='email', placeholder='Repeat Secret Password')
                    .col-xs-2 
                      .btn.btn-success(type=submit, onclick='changeFirstname()', href='#', data-toggle='modal', data-target='#authorize') Change

                
                  //- Add payment options here in the future
        
    {% include 'search/footer.html' %}          
    
