// output:footer.html, pretty:false

footer.text-xs-center
  p.
    Copyright 2016. 
    <b>Hobby Hunter </b> | A <b>try something, new, get off your butt platform</b> oriented towards businesses <b>and</b> users  </br>
    Made from scratch by <b><a href='http://anthonymachula.ca/about/'>Anthony Machula, a Freelance Creator</a></b> </br>
