//output:launch.html, pretty:false

{% load static %}
doctype html
html(lang='en')
  head
    {% include 'search/meta.html' %}
    include includes/main/bootstrap.html
    include includes/main/css.html
    style.
      .fa{
        margin:3%;
      }
      .site-wrapper {
        background-size: cover;
        background-image: url("{% static 'img/index/programming.jpg' %}")
      }
    link(href='https://v4-alpha.getbootstrap.com/examples/cover/cover.css', rel='stylesheet',type='text/css')
body
  .site-wrapper
    .site-wrapper-inner
      .cover-container

        .inner.cover(style='background-color:rgba(0,0,0,0.425); border-radius:15px;')
          h1.display-4.cover-heading.title(style="color: #c17c53; font-family:'Yellowtail'; ") Hobby Hunter
          p.lead
            b Get out there, join your friends and find something fun to do.
          p.lead
          
            // Begin MailChimp Signup Form
            link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
            style(type='text/css').
              #mc_embed_signup{background:none; clear:left;}
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='//anthonymachula.us14.list-manage.com/subscribe/post?u=b0edb39892b08e60bbbaaf827&id=afc19b5b82', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll.text-xs-center
                  h2 Signup for our Launch
                  //- .indicates-required
                    //- span.asterisk *
                    //- |  indicates required
                  .mc-field-group
                    label(for='mce-EMAIL')
                      | Email Address  
                      span.asterisk *
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                  .mc-field-group
                    label(for='mce-FNAME') First Name 
                    input#mce-FNAME(type='text', value='', name='FNAME')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;', aria-hidden='true')
                    input(type='text', name='b_b0edb39892b08e60bbbaaf827_afc19b5b82', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
            // End mc_embed_signup


        .mastfoot
          .inner
